.container {
    position: relative;
    max-width: 35rem;

    font-family: 'Poppins', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    
    > label {
        position: absolute;
        left: 1rem;
        top: 1.1rem;
        transition: all 0.2s ease-in;
        color: rgb(93, 93, 93);
            padding: 0 0.4rem;
    }

     > input {
        width: 100%;

        border: 2px solid rgb(197, 197, 197);
        border-radius: 6px;
        padding: 1rem;
        background: none;
        color: grey;
        outline: none;
        cursor: text;
        transition: ease-in 0.3s;
        
        &:focus  {
            border-color:rebeccapurple;
        }

        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
            top: -0.5rem;
            font-size: 0.8rem;
            left: 0.8rem;
            background: white;

        }
    }

}