.movieCardContainer {
  min-width: 360px;
  height: 100px;

  background-color: rebeccapurple;
  border-radius: 20px;
  padding: 30px;

  display: flex;
  flex-direction: row;

  position: relative;


  transition: all ease-in-out 0.5s;

  &:hover {
    transform: translateY(-15px) scale(1.05);;
  }
}

.titleText {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;

  font-size: 32px;
}

.descriptionText {
  font-family: "Poppins", sans-serif;
  color: white;
}


.deleteButton {
  background: none;
  border: none;

  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}
